// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0px;
}

.header {
  height: 100px;
  padding: 0px 60px;
  margin-bottom: 10px;
  &__top {
    &__main {
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      padding: 15px 0 0;
      display: flex;
      &__tag {
        height: 40px;
        width: 140px;
        margin-right: 30px;
        cursor: pointer;
      }
      &__searchBox {
      position:relative;
      width: 100%;
      height: 36px;
      display: flex;
      margin-top: 5px;
        &__input-text {
          width : 100%;
          font-size: medium;
          padding: 0 0 0 5px;
          margin-right:36px;
        }
        &__button {
          position:absolute; top:0px;right: 0px;
          width: 36px;
          height: 36px;
          background-color: #3CCACE;
          border: 0px;
          cursor: pointer;
          &__search {
            height: 20px;
            width: 20px;
          }
        }
      }
    }
    &__navi {
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      font-size: 14px;
      line-height: 38px;
      position: relative;
      &__listsLeft {
        padding-left: 0;
        margin: 0;
        &__categori {
          padding-right: 30px;
        }
        &__branded {
          padding-right: 30px;
        }
      }
      &__listsRight {
        position: absolute; right:0px;
        padding-left: 0;
        margin: 0;
        &__login {
          padding-left: 16px;
        }
        &__signUp {
          padding-left: 16px;
        }
      }
    }
  }
}

a {
  text-decoration: none;
}


main {
  height: 300px;
}

.appBanner {
  height: 300px;
}

.footer {
  padding:60px 0px;
  &__top {
    margin: 0px 300px;
    display: inline;
    &__main{
      height: 172px;
      &__contents {
        max-width: 840px;
        margin: 0 auto;
        &__head {
        }
      }
    }
    &__logo {
      margin: 0 auto;
      &__tag {
        height: 40px;
        width: 140px;
      }
    }
    &__label {
    }
  }
}